* {
    box-sizing: border-box;
}

body,
html {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: var(--clr-primary-3);
    height: 100%;
    gap: 70px;
}

.canvas-container {
    width: 60vw;
    margin: 10px auto;
    border: 1px solid black;
    background-color: rgb(207, 207, 207);
}

.main-header .btn-toggle-menu {
    display: none;
}

canvas {
    border: 1px solid #000;
    max-width: 100%;
    max-height: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
