/* main buttons */

.main-buttons {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.main-buttons button {
    width: 100%;
    max-width: 75px;
}

/* font buttons */

.font-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 2fr; 
    gap: 10px;
    width: 100%;
}

.font-buttons select {
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: var(--clr-primary-3);
    color: #fff;
    font-size: 1rem;
    transition: 0.3s ease;
    width: 100%;
}

.font-buttons select:hover {
    cursor: pointer;
    background-color: var(--clr-primary-1);
}

.font-buttons button {
    background-color: var(--clr-primary-3);
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
}

.font-buttons button:hover {
    background-color: var(--clr-primary-1);
}

input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    background: none;
    position: relative; 
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

input[type="color"]::before {
    content: "🎨";
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    place-items: center;
    place-content: center;
    font-size: 25px;
}