.connection-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    flex-wrap: wrap;
    width:100%;
}

.connection-buttons button, 
.connection-buttons a {
    color: #fff;
    background-color: var(--clr-primary-3);
    border: 2px solid #fff;
    border-radius: 5px;
    min-width: 120px;
    max-width: 200px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.connection-buttons button:hover, 
.connection-buttons a:hover {
    background-color: var(--clr-primary-1);
}
