.gallery-container {
    padding: 20px;
}

.gallery-buttons-container {
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
}

.gallery-buttons {
    background-color: var(--clr-primary-3);
    cursor: pointer;
    transition: 0.3s ease;
    height: 50px;
}

.gallery-buttons:hover {
    background-color: var(--clr-primary-1);
}

.filter-input {
    color: #fff;
    background-color: var(--clr-primary-3);
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    /* margin-left: 20px; */
    cursor: pointer;
    height: 50px;
}