.gallery-buttons-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px auto;
    width: 100%;

}

.gallery-buttons {
    color: #fff;
    background-color: var(--clr-primary-3);
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery-buttons:hover {
    background-color: var(--clr-primary-1);
}

.filter-input {
    color: #fff;
    background-color: var(--clr-primary-3);
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
    justify-content: center;
}
