.main-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.content-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}