.saved-memes-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}

.saved-meme-wrapper:hover {
    cursor: pointer;
    border: 1px solid var(--clr-primary-1);
}

.saved-meme-wrapper {
    position: relative;
    margin: 10px;
}

.delete-meme-btn {
    display: none;
    position: absolute;
    top: 0px;
    color: var(--clr-primary-1);
    border: 1px solid var(--clr-primary-1);
    cursor: pointer;
    padding: 7px 14px;
}

.saved-meme-wrapper:hover .delete-meme-btn {
    display: block;
}

.delete-meme-btn:hover {
    background-color: white;
    transition: 0.3s ease;
}