.saved-memes-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.saved-meme-wrapper {
    position: relative;
    margin: 10px;
}

.delete-meme-btn {
    position: absolute;
    top: 5px;
    color: var(--clr-primary-1);
    border: none;
    border-radius: 50%;
    width: 10px;
    cursor: pointer;
}

.delete-meme-btn:hover {
    background-color: white;
}