/* Basics */
@import url(basics/base.css);
@import url(basics/helpers.css);

/* Components */
@import url(components/main-header.css);
@import url(components/logo.css);
@import url(components/main-nav.css);
@import url(components/main-content.css);
@import url(components/edit-tools.css);
@import url(components/buttons-container.css);
@import url(components/connection-buttons.css);
@import url(components/main-footer.css);
@import url(components/button-toggle-menu.css);
@import url(components/gallery-buttons.css);
@import url(components/saved-memes-container.css);

/* Setup */
@import url(setup/mq.css);
@import url(setup/typography.css);
@import url(setup/vars.css);

input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background: none;
    position: relative; 
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

input[type="color"]::before {
    content: "🎨";
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}


